<%= form_for(@profile) do |f| %>
 
  <div class="field">
    <%= f.label :overview %><br>
    <%= f.text_field :overview %>
  </div>

  <div class="form-group">
    <%= f.label :profile_picture %>
    <%= f.file_field :file %>
  </div>

  <div class="field">
    <%= f.label :skill_tokens, "Skills" %><br />
    <%= f.text_field :skill_tokens, "data-pre" => @profile.skills.map(&:attributes).to_json %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>