
<div class="container-fluid" style="padding-top: 30px;">
   <div class="row">

     <div class="col-md-3">
       <div class="profile_picture">
         <img src="<%= @profile.profile_picture_url %>" id="pro_picture"> <br>
         <p><%= current_user.first_name %> <%= current_user.last_name %></p>
        </div>
      
     </div>

     <div class="col-md-6">      
        <div class="jumbotron" style="padding-top: 15px;">
          <h5>Overview 
          <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe,"/profiles/#{@profile.id}/edit" %>
          </h5>
          <p><%= @profile.overview %></p>

        </div>
      
<br>   
        <div class="jumbotron" style="padding-top: 15px;">
         <h5 style="font-family: 'Old Standard TT';">Skills
         <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe,"/profiles/#{@profile.id}/edit" %></h5>
           <% @skills.each do |skill| %>
             <li><%= skill.name %></li>
           <% end %>
        </div>
     
        <br>

        <div class="jumbotron" style="padding-top: 15px;">
         <h5 style="font-family: 'Old Standard TT';">Categories</h5>
           <% @categories.each do |category| %>
             <li><%= category.name %></li>
           <% end %>
        </div>

        <div class="jumbotron" style="padding-top: 15px;">
          <h5 style="font-family: 'Old Standard TT';">Portfolio
          <a href="/portfolios/new">
            <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus-sign"></span> New Project
            </button> 
          </a>
          </h5>

          <% if !@portfolios.blank? %>
            <% @portfolios.each do |portfolio|%>
              <p><%= link_to portfolio.title, "/portfolios/#{portfolio.id}" %></p>
            <% end %>
          <% end %>

        </div>
<br>
        <div class="jumbotron" style="padding-top: 15px;">
         <h5 style="font-family: 'Old Standard TT';">Employment History 
         <a href="/employment_histories/new">
          <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span>New Experience
          </button>
          </a>
         </h5>
        <% if !@employment_histories.blank? %>
           <% @employment_histories.each do |employment_history| %>
             <%= link_to employment_history.company, "/employment_histories/#{employment_history.id}" %></p>
           <% end %>
        <% end %>
        </div>
<br>
        <div class="jumbotron" style="padding-top: 15px;">
         <h5 style="font-family: 'Old Standard TT';">Educations 
         <a href="/educations/new">
          <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span>New School
          </button>
          </a>
         </h5>
        <% if !@educations.blank? %>
           <% @educations.each do |education| %>
             <%= link_to education.school, "/educations/#{education.id}" %></p>
           <% end %>
        <% end %>
        </div>
       
        
     </div>
  </div>
</div>