<div class="container-fluid">
   <div class="row">

     <div class="col-md-3">
       <div class="profile_picture">
         <img src="<%= @profile.profile_picture_url %>" id="pro_picture"> <br>
         <p><%= current_user.first_name %> <%= current_user.last_name %></p>
        </div>
      
     </div>

     <div class="col-md-6">      
        <div class="jumbotron">
          <h4>Overview 
          <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe,"/profiles/#{@profile.id}/edit" %>
          </h4>
          <p><%= @profile.overview %></p>

        </div>
<br>
        <div class="jumbotron">
          <h4>Portfolio
          <a href="/portfolios/new">
            <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus-sign"></span> New Project
            </button> 
          </a>
          </h4>

          <% if !@portfolios.blank? %>
            <% @portfolios.each do |portfolio|%>
              <p><%= link_to portfolio.title, "/portfolios/#{portfolio.id}" %></p>
            <% end %>
          <% end %>

        </div>
<br>
        <div class="jumbotron">
         <h4>Employment History 
         <a href="/employment_histories/new">
          <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus-sign"></span>New Experience
          </button>
          </a>
         </h4>
        <% if !@employment_histories.blank? %>
           <% @employment_histories.each do |employment_history| %>
             <%= link_to employment_history.company, "/employment_histories/#{employment_history.id}" %></p>
           <% end %>
        <% end %>
        </div>

        <p><strong>Education</strong></p>
       
        
     </div>
  </div>
</div>