<div class="container-fluid" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-8 jumbotron" style="padding-top: 15px;">
      <% if !@applications.blank? %>
        
          <% if current_user && current_user.role.id == 1 %>
            <h5>Submitted Applications</h5>
              <% @applications.each do |application| %>
                  <h4><%= application.post.title %></h4>
                  <p><strong>First Name</strong>:<%= application.user.first_name %> </p>
                  <p><strong>Last Name</strong>:<%= application.user.last_name %> </p>
                  <p><strong>Duration</strong>:<%= application.duration %> </p>
                  <p><strong>Cover Letter</strong>:<%= raw(application.cover_letter) %></p>
                  <%= button_to "Hire", "/applications/#{application.id}", class: "btn btn-success", method: :patch %>
              <% end %>

          <% else %>
          <h5 style="font-family: 'Old Standard TT';"><strong>My Applications</strong> </h5><br>
          <table>
            <tr style="font-family: 'Old Standard TT';border-bottom: 2px solid #008080;">
              <th>
                <p><strong> Job Applied</strong> </p>
              </th>
              <th>
                <p><strong>Status </strong> </p>
              </th>
              <th>
                <p><strong> Submit Work</strong> </p>
            </tr>
            <% @applications.each do |application| %>
            <tr>
              <td>
                <p><%= application.post.title %></p>
              </td>
              <td>
                <% if application.hired == true %>
                <p>Hired</p>
                <% else %>
                <p>Not Hired Yet</p>
                <% end %>
              </td>
              <td>
                <% if application.hired == true %>
                 <%= form_tag "/submissions/new?post_id=#{application.post.id} ", method: :get do %>
                 <input type="hidden" name="post_id"  value="<%= application.post.id %>">
                 <button type="submit" class="btn btn-success" style="background-color:#00b3b3" name="Submit">Submit</button>
                 <% end %>
                <% else %>
                  <p> Not yet</p>
                <% end %>
              </td>
               
            </tr>

             <% end %> 
          </table>
          <%end%>

       <% end %>
    </div>
  </div>
</div>





