<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if !@applications.blank? %>
        
          <% if current_user && current_user.role.id == 1 %>
            <h3>Submitted Applications</h3>
              <% @count = @applications.count %>
                <h2><%= @count %> (<%= @count.to_i - 1%> new) </h2> 
              <% @applications.each do |application| %>
                  <h4><%= application.post.title %></h4>
                  <p><strong>First Name</strong>:<%= application.user.first_name %> </p>
                  <p><strong>Last Name</strong>:<%= application.user.last_name %> </p>
                  <p><strong>Duration</strong>:<%= application.duration %> </p>
                  <p><strong>Cover Letter</strong>:<%= raw(application.cover_letter) %></p>
                  <%= button_to "Hire", "/applications/#{application.id}", class: "btn btn-success", method: :patch %>
              <% end %>

          <% else %>
          <h3> My Applications </h3>
          <table>
            <tr>
              <th>
                <h6> Job Applied </h6>
              </th>
              <th>
                <h6> Hired </h6>
              </th>
              <th>
                <h6> Submit Work </h6>
            </tr>
            <% @applications.each do |application| %>
            <tr>
              <td>
                <p><%= application.post.title %></p>
              </td>
              <td>
                <p><%= application.hired %></p>
              </td>
              <td>
                <% if application.hired == true %>
                 <%= form_tag "/submissions/new?post_id=#{application.post.id} ", method: :get do %>
                 <input type="hidden" name="post_id"  value="<%= application.post.id %>">
                 <%= button_to "Submit" %>
                 <% end %>
                <% end %>
              </td>
               
            </tr>

             <% end %> 
          </table>
          <%end%>

       <% end %>
    </div>
  </div>
</div>





