<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" id="pro_picture" src="<%= conversation.originator.profile.profile_picture_url%>">
    </a>
  </div>
  <div class="media-body">
    <h5 class="media-heading">
      <p><%= conversation.originator.full_name %> <br>
      <small><b>Subject: </b><%= conversation.subject %></small><br>
      <small><b>Date: </b><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small></p>
    </h5>
    <p><%= truncate conversation.messages.last.body, length: 145 %>
    <%= link_to "||View", conversation_path(conversation)  %></p>
  </div>

  <div class="btn-group-vertical pull-right">
      <% if conversation.is_trashed?(current_user) %>
        <%= link_to 'Restore', restore_conversation_path(conversation), class: 'btn btn-xs btn-info', method: :post %>
      <% else %>
        <%= link_to 'Move to trash', conversation_path(conversation), class: 'btn btn-xs btn-danger', method: :delete,
                    data: {confirm: 'Are you sure?'} %>
        
      <% end %>
    </div>

</div>