<% @receipts.each do |receipt| %>
    <% message = receipt.message %>
    <div class="media">
      <div class="media-left">
        <!-- user avators can go here -->
        <a href="#">
          <img class="media-object" id="pro_picture" src="<%= message.sender.profile.profile_picture_url%>" >
        </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading">
          <p><%= message.sender.full_name %> <br>
          <small><b>Subject: </b><%= message.subject %></small><br>
          <small><b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small></p>
        </h5>
        <p><%= message.body %></p>
      </div>
    </div>
<% end %>