<div class="container-fluid" style="padding-top: 30px;">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 jumbotron" style="padding-top: 15px;">
      <table>
        <tr style="font-family: 'Old Standard TT';border-bottom: 2px solid #008080;">
          <th >
            <p> <strong>Freelancer</strong> </p>
          </th>
          <th>
            <p> <strong>Title</strong> </p>
          </th>
          <th>
            <p> <strong>Short Description</strong> </p>
          </th>
          <th>
            <p> <strong>Work File</strong> </p>
          </th>
          <th>
            <p> <strong>Work Status</strong> </p>
          </th>
        </tr>
        <tr>
          <td>
            <p><%= @submission.user.full_name %></p>
          </td>
          <td>
            <p><%= @submission.title %></p>
          </td>
          <td>
            <%= @submission.description %>
          </td>
          <td>
          <%= link_to "Download Work", @submission.file_url %>
          </td>
          <td>
           <% if @submission.completed == true %>
           <p><strong>Completed</strong></p>
           <% else %>
            <%= button_to "Complete", "/submissions/#{@submission.id}", class: "btn btn-success", method: :patch %><br>
           <% end %>
          </td>
          </tr>
      </table>
    </div>
  </div>
</div>


