<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <button type="submit" class="btn btn-success"><%= link_to "Post A New Job", "/posts/new" %></button>
    </div>
    <div class="col-md-8">
      <table>
        <tr>
          <th>
            Job Title
          </th>
          <th>
            Applications 
          </th>
          <th>
            Submission
          </th>
          <th>
            Setting
          </th>

        </tr>
    <% @posts.each do |post| %>
      <tr>
        <td> <%= link_to post.title, "/posts/#{post.id}" %> </td>
        <td> <a href= "/applications"><% @count = @applications.count %>
        <%= @count %> (<%= @count.to_i - 1%> new)</a></td>
        <td> <%= link_to "Works Submitted","/submissions" %></td>
        <td> <%= link_to '<i class="glyphicon glyphicon-cog"></i>'.html_safe,"/posts/#{post.id}/edit" %>
        </a>
        </td>
        <td>
        
        </td>
      </tr>
    <% end %>
  </table>
  </div>
  </div>
</div>