<div class="container-fluid" style="padding-top: 50px; padding-left: 200px;">
  <div class="row">

    <div class="w3-container">
      <div class="w3-card-4" style="width:80%;float: center;background-color: white;">
        <header class="w3-container " style="background-color: teal;">
          <h4 style="text-align: left;color: white;font-family: 'Old Standard TT'">Posts <button type="submit" class="btn btn-default" style="float: right;height: 30px;margin-bottom:5px;"><%= link_to "Post A New Job", "/posts/new" %></button></h4>

        </header>

      <div class="w3-container">
       <% @posts.each do |post| %>
        <h6 style="text-align:left;""><%= link_to post.title, "/posts/#{post.id}" %>
        <%= link_to '<i class="glyphicon glyphicon-cog" style="float: right;"></i>'.html_safe,"/posts/#{post.id}/edit" %></h6>

      <% end %>
      </div>


      
    </div>
  </div>
<br>
    <div class="w3-container">
      <div class="w3-card-4" style="width:80%;background-color: white;">
        <header class="w3-container" style="background-color: teal;">
          <h4 style="text-align: left;color: white;font-family: 'Old Standard TT'">Applications</h4>

        </header>

        <div class="w3-container">
        <% @posts.each do |post| %>
        <h6 style="text-align:left;""><%= link_to post.title, "/posts/#{post.id}" %><a href= "/applications" style="float: right;"><% @count = @applications.count %>
          <%= @count %> (<%= @count.to_i - 1%> new)Applications</a>
        </h6>
        <% end %>
        </div> 
      </div>
    </div>
<br>
    <div class="w3-container">
      <div class="w3-card-4" style="width:80%;background-color: white;">
        <header class="w3-container" style="background-color: teal;">
          <h4 style="text-align: left; color: white;font-family: 'Old Standard TT'">Submissions</h4>

        </header>

        <div class="w3-container">
          <% @posts.each do |post| %>
            <h6 style="text-align:left; font-family: 'Old Standard TT'""><strong>Post Title</strong>: <%= post.title %></h6>
              <% if !post.submissions.blank? %>
                <p><strong>Submission Title: </strong>
                <% post.submissions.each do |submission| %>
                  <li><%= link_to submission.title, "/submissions/#{submission.id}?submission_id=#{submission.id}" %>
                  </li>
                <% end %></p>

              <% else %>
                <p><strong>Submission Title: </strong> No submission....</p>
              <% end %><br>
          <% end %>
        </div> 
      </div>
    </div>
  </div>
</div>
</div>

