<div class="container-fluid" style="padding-top: 30px">
  <div class="row">

      <div class="col-md-1"></div>
      <div class="col-md-7">
        <h4 style="font-family: 'Old Standard TT';border-bottom: 2px solid #008080;"><strong>Jobs Available</strong></h4>       
            <% @posts.each do |post| %>
              <div class="jumbotron" style="text-align: justify; padding-top: 15px; margin-bottom: 1px;">
                <h5><%= link_to post.title, "/posts/#{post.id}"%></h5>
                <p><%= (raw post.description.truncate(200)) %>
                <%= link_to "| Read More", "/posts/#{post.id}" %></p>
              </div>
              <br>
            <% end %>
      </div>
      <br>
      <div class="col-md-3" style="padding-top: 30px;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to "My Applications", "/applications", method: :get %> </li>
          <li class="list-group-item"><%= link_to "My Submissions", "/freelancer_submissions", method: :get %></li>
          <li class="list-group-item"><%= link_to "Work Completed", "/work_completed", method: :get %></li>
        </ul>

        
          <h6 style="font-family: 'Old Standard TT';border-bottom: 2px solid #008080;"><strong>Recommended Jobs</strong></h6>
          <% @user_skills.each do |user_skill| %>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/dashboards/freelancer?skill=<%= user_skill.name %>"><%= user_skill.name.capitalize %></a></li>
          <% end %>
    </div>
              
      
    </div>
  </div>
</div>
