<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>

    <div class="col-md-6">

      <h4> New Job Post </h4>      

      <%= form_for(@post) do |f| %>

      
       <% if @post.errors.any? %>
         <div id="error_explanation">
           <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

           <ul>
           <% @post.errors.full_messages.each do |message| %>
             <li><%= message %></li>
           <% end %>
           </ul>
         </div>
       <% end %>

        <div class="field">
          <%= f.hidden_field :user_id, :value => current_user.id %>
        </div>

        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
<br>
        <div class="field" >
          <%= f.label :Choose_the_category_of_your_job %><br>
          <%= f.select(:category_ids, Category.all.collect {|a| [a.name, a.id]}, {}, id: "eventartist_ids", class: 'form-control', :multiple => true)  %>
        </div>
        <br>

        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description, :class => 'ckeditor' %>
        </div>

        <br>

        <div class="field" >
          <%= f.label :Choose_your_skills %><br>
          <%= f.select(:skill_ids, Skill.all.collect {|a| [a.name, a.id]}, {}, id: "event_artist_ids", class: 'form-control', :multiple => true)  %>
        </div>
<br>
        <div class="field">
          <%= f.label :budget %><br>
          <%= f.text_field :budget, class: 'form-control' %>
        </div>
<br>
        <div class="field">
          <%= f.label :deadline %> <%= f.date_select(:deadline, :order => [:month, :day, :year]) %>
        </div>

        <br>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>

        
    </div>
  </div>
</div>
<script type="text/javascript">
    $( "#event_artist_ids" ).select2();
    $( "#eventartist_ids" ).select2();
</script>
<script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
