 <div class="container-fluid" style="background-color: #f5f5f0; padding-top: 30px">
   <div class="row"> 
     <div class="col-md-2"> 
     </div>     

      <div class="col-md-7 jumbotron" style="text-align: justify; padding-top: 15px;">

      <h5 style="font-family: 'Old Standard TT';"><strong><%= @post.title %></strong></h5><br>
        <p><strong>Post Category:</strong>
        <% @post_categories.each do |post_category| %>
        <%= post_category.name %></p>
        <% end %><br>
        <p><strong>Description</strong>:<%= raw(@post.description) %></p><br>
        <p><strong>Required Skills:</strong>
        <% @post.skills.each do |post_skill| %>
        <li><%= post_skill.name %></li>
        <%end%><br>
        <p><strong>Job Budget</strong>: $<%= @post.budget %></p><br>
        <p><strong>Deadline</strong>: <%= @post.deadline %></p><br>

      <% if current_user&&current_user.role_id==2 %>
        <%= form_tag "/applications/new?post_id=#{@post.id} ", method: :get do %>
          <input type="hidden" name="post_id"  value="<%= @post.id %>">
        <button class="btn btn-success" style="background-color:#008080">Apply Now</button>
        <% end %>
      <% elsif !current_user %>
        <h6> You need to create an account in order to apply for this job</h6>
      <% end %>

    </div>
  </div>
</div>