 <div class="container-fluid">
   <div class="row"> 
     <div class="col-md-8">      

        <h4><%= @post.title %></h4>
        <p><strong>Category: </strong>
        <% @post.categories.each do |category| %>
          <p><%= category.name %></p>
        <% end %>
        </p>
        <p><strong>Description</strong>:<%= @post.description %></p>
        <p><strong>Job Budget</strong>:<%= @post.budget %></p>
        <p><strong>Required Skills</strong>:<%= @post.skills %></p>
        <p><strong>Deadline</strong>: <%= @post.deadline %></p>
      </div>

      
  </div>
</div>