<!DOCTYPE html>
<html>
  <head>
    <title>UpYouth</title>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>


        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <link href="vendor/select2/dist/css/select2.min.css" rel="stylesheet" />
    <script src="vendor/select2/dist/js/select2.min.js"></script>
    <!-- Custom Fonts -->

    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/agency.min.css" rel="stylesheet">
    <script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
  </head>

<body>
 <nav class="navbar navbar-positive ">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>                        
       </button>
       <a class="navbar-brand" id="upyouth" href="/"><strong>UpYouth</strong></a>
     </div>
     
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul  class="nav navbar-nav navbar-center">
       <div class="searchbar-center" style="margin-top: -8px;">
         <%= form_tag "/posts/search", class: "navbar-form navbar-left", method: :post do %>
         <form class="w3-bar-item " role="search">
         <div class="input-group" id="adv-search">
             <input type="text" class="form-control" placeholder="Search for jobs..." name="search_input">
             <div class="input-group-btn">
             <div class="btn-group" role="group">
                   <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>  
                 </div>
         </div>
         </form>
         <% end %>
       </div>

       </ul>
       <% if current_user %>
         
          <ul class="nav navbar-nav navbar-right" id="nav">
             <% if current_user.role_id== 1 %>
              <li class="<%= 'active'if params[:controller] == 'dashboards'%>">
              <a class="navbar-brand"  href="/dashboards/employer"><strong> Home </strong></a></li>

             <% else %>
             
             <li class="<%= 'active'if params[:controller] == 'dashboards'%>"> <a class="navbar-brand"  href="/dashboards/freelancer"><strong> Home </strong></a></li>
             <% end %>
              <li class="<%= 'active'if params[:controller] == 'mailbox'%>">
              <a class="navbar-brand"  href="/mailbox/inbox">
                <span class="glyphicon glyphicon-envelope"></span> <strong><%=unread_messages_count%></strong>
              </a></li>

              <li class="<%= 'active'if params[:controller] == 'activities'%>">
              <a class="navbar-brand"  href="/activities">
                 <span class="glyphicon glyphicon-bell"></span><strong><%=PublicActivity::Activity.where(recipient_id: current_user.id, recipient_type: "User").count%></strong>
                </a></li>

      

              <li class="dropdown">
                <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
                   <% if !current_user.profile.blank? %>
                    <img src="<%= current_user.profile.profile_picture_url %>" class="img-circle special-img"><% end %><strong><%= current_user.full_name %></strong><b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            <% if current_user.role_id ==2 %>
                                <li><%= link_to "Profile", "/profiles/#{current_user.profile.id}" %></li>
                            <% end %>
                                <li class="divider"></li>
                                <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout </a></li>
                            </ul>
              </li>
              </ul>
        <% else %>
        
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="/signup"><strong>Join Us</strong></a>
            <li style="margin-top: -3px;"><a class="navbar-brand" href="/login"><span class="glyphicon glyphicon-user"></span> <strong >Login</strong></a></li> 
          </ul>
      
      <% end %>
     </div>
   </div>
 </nav>



 <!-- Header -->
  <% flash.each do |key, value| %>
      <%= content_tag :div, class: "alert alert-#{key}" do %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= value %>
      <% end %>
  <% end %>


  
    <%= yield %>
  
    <script type="text/javascript">
    $(function() {
           $('#nav li a').click(function() {
              $('#nav li').removeClass();
              $($(this).attr('href')).addClass('active');
           });
        });
    </script>




  </body>
</html>










